/** Definições de containers e filhos flex. */

.flex {
    display: flex !important;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

/** Alinhar itens do container. */

.align-i-center {
    align-items: center;
}

.align-i-start {
    align-items: flex-start;
}

.align-i-end {
    align-items: flex-end;
}

.align-s-start {
    align-self: flex-start;
}

.align-s-end {
    align-self: flex-end;
}

.all-center {
    align-items: center;
    justify-content: center;
}

/** Distanciamento entre os elementos do container flex. */

.gap-1_2 {
    gap: calc(var(--ratio-1) / 1.5);
}

.gap-1 {
    gap: var(--ratio-1);
}

.gap-2 {
    gap: var(--ratio-2);
}

/** Justificamento entre os elementos do container flex. */

.justify-c-between {
    justify-content: space-between;
}

.justify-c-center {
    justify-content: center;
}

.justify-c-end {
    justify-content: flex-end;
}

.justify-c-start {
    justify-content: flex-end;
}

/** Tamanhos. */

.width-full {
    width: 100% !important;
}

.height-full {
    height: 100%;
}

.inset-screen {
    width: 100vw;
    height: 100vh;
}

.absolute {
    position: absolute;
}