/** Largura do texto (text-width-{x}). */

.bold {
    font-weight: 700;
}

.normal {
    font-weight: 500;
}

/** Tamanho do texto (text-size-{x}). */

.minor {
    font-size: 0.9em;
}

.headline {
    font-size: 1.5em;
}

.title {
    font-size: 2em;
}

/** Cor do texto (text-size-{x}). */

.aside {
    color: var(--color-text-aside-1);
}