.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.justify-c-center {
    justify-content: center;
}

.justify-c-end {
    justify-content: flex-end;
}

.align-i-center {
    align-items: center;
}

.align-i-start {
    align-items: flex-start;
}

.align-i-end {
    align-items: flex-end;
}

.gap-0_1 {
    gap: calc(var(--ratio-1) / 2);
}

.gap-1 {
    gap: var(--ratio-1);
}

.gap-2 {
    gap: var(--ratio-2);
}


.justify-c-between {
    justify-content: space-between;
}

.width-full {
    width: 100% !important;
}

.height-full{
    height: 100%;
}

.grow {
    flex-grow: 1;
}

.inset-screen {
    width: 100vw;
    height: 100vh;
}

.user-select-none {
    user-select: none;
}

.bold {
    font-weight: 700;
}

.normal {
    font-weight: 500;
}

.minor {
    font-size: 0.9em;
}

.headline {
    font-size: 1.5em;
}

.title {
    font-size: 2em;
}

.aside {
    color: var(--color-text-aside-1);
}