:root {
    --color-main-1: #36147A;
    --color-main-2: #451e93;
    --color-grey-1_2: rgb(248, 248, 248);
    --color-grey-1: rgb(241, 241, 241);
    --color-grey-2: rgb(225, 225, 225);
    --color-red-1: rgb(218, 37, 37);

    --color-text-main-1: rgb(21, 21, 21);
    --color-text-aside-1: rgb(162, 162, 162);

    --ratio-1: 15px;
    --ratio-2: 30px;

    /** Filhos de Container. */
    --rounded-1: 6px;
    /** Container. */
    --rounded-2: 8px;

    --rounded-total: 999px;

    --action-height: 45px;
    --action-side: var(--ratio-1);
}