:root {
    --color-main-1: #36147A;
    --color-grey-1: rgb(241, 241, 241);
    --color-grey-2: rgb(225, 225, 225);

    --color-text-main-1: rgb(21, 21, 21);
    --color-text-aside-1: rgb(162, 162, 162);

    --ratio-1: 15px;
    --ratio-2: 30px;

    --rounded-1: 4px;
    --rounded-2: 8px;
    --rounded-total: 999px;
}